html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
a {
    text-decoration: underline;
    color: #039BE5;
}

/* Fixes an MDL bug where the header does not scroll on small devices */
.mdl-layout__container .mdl-layout--fixed-header .mdl-layout__content {
    overflow-y: visible;
    overflow-x: visible;
    overflow: visible;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Header */

.header .mdl-layout__header-row {
//    max-width: 1024px;
    width: 100%;
//    height: 50px;
    padding: 10px 20px;
    margin: auto;
    position: relative;
	h3 {
      font-size: 24px;
	}
}

@media screen and (max-width: 840px) {
    .titlebar h3 {
//        font-size: 24px;
    }
}
@media screen and (max-width: 479px) {
	#welcomeMsg { display:none }
}



/* Splash Page */

#splashPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
/*    color: white;*/
    flex-direction: column;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
}

.gameLists {
    background-color: white;
    margin: 50px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 320px;
}

.modal input {
	color: black;
}

.modal button {
    border-radius: 12px;
}
#signInModal button {
    margin-left: 10px;
//    margin-bottom: 10px;
}

.mdl-button {
     margin: 0 5px;
}


#uploadBtn {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file {
  .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .mdl-button--file {
    right: 0;
  }
}

.playerPics {
  float:left;
  width:50%;
  line-height:0px;
  display: flex;
  justify-content: space-between;
}

.playerPics div {
  margin:auto;
}
  
.playerPics img {
  border-radius: 50%;
  padding:5px;
  width:40px;
  height:40px
}
/*
.playerPics div {
  display: inline-block;
}

.playerPics:after {
  content: '';
  font-size:0;
  width: 100%;
  display: inline-block;
}
*/

.gameHeader {
  position:relative;
  height: 54px;
  line-height: 50px;
  text-align: justify;
}

.gameContent {
  margin:  auto;
}

.gameTurn {
  font-weight: bold;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}
.red-bg {
	background-color: red;
}